[submodule "ifluentinterface/ifluentinterface"]
	path = ifluentinterface/ifluentinterface
	url = https://github.com/kzu/IFluentInterface.git
	branch = master
[submodule "mono-cecil/cecil"]
	path = mono-cecil/cecil
	url = https://github.com/jbevain/cecil.git
	branch = master
[submodule "moq4/moq4"]
	path = moq4/moq4
	url = https://github.com/moq/moq4.git
[submodule "newtonsoft.json/Newtonsoft.Json"]
	path = newtonsoft.json/Newtonsoft.Json
	url = https://github.com/JamesNK/Newtonsoft.Json.git
[submodule "testfx/testfx"]
	path = testfx/testfx
	url = git@github.com:tomaszstrejczek/testfx.git
	branch = fix467
[submodule "vstest-junit-logger/vstest-junit-logger"]
	path = vstest-junit-logger/vstest-junit-logger
	url = git@github.com:tomaszstrejczek/vstest-junit-logger.git
[submodule "nunit/nunit"]
	path = nunit/nunit
	url = git@github.com:tomaszstrejczek/nunit.git
[submodule "nunit3-vs-adapter/nunit3-vs-adapter"]
	path = nunit3-vs-adapter/nunit3-vs-adapter
	url = git@github.com:tomaszstrejczek/nunit3-vs-adapter.git
[submodule "TypeNameFormatter/TypeNameFormatter"]
	path = TypeNameFormatter/TypeNameFormatter
	url = https://github.com/stakx/TypeNameFormatter.git
[submodule "xunit/xunit"]
	path = xunit/xunit
	url = https://github.com/xunit/xunit.git
[submodule "vstest/vstest"]
	path = vstest/vstest
	url = https://github.com/microsoft/vstest.git
[submodule "nuget.netstandard/nuget"]
	path = nuget.netstandard/nuget
	url = https://github.com/aelij/NuGet.Client.git
[submodule "nuget.netstandard/Common"]
	path = nuget.netstandard/Common
	url = https://github.com/aspnet/Common.git
[submodule "nuget.netstandard/FileSystem"]
	path = nuget.netstandard/FileSystem
	url = https://github.com/NuGet/FileSystem.git
[submodule "castle.core/Core"]
	path = castle.core/Core
	url = https://github.com/tomaszstrejczek/Core.git
